<div class="container">
  <h1>Star Trek Ipsum</h1>

  <form name="quantityForm" ng-submit="getIpsum()">
    <label>How many Riker quotes can you handle?</label>
    <input name="characters" required type="number" ng-model="characters">
    <br />
    <span class="error" ng-show="quantityForm.characters.$error.required">
      Required!</span>
    <span class="error" ng-show="quantityForm.characters.$error.number">
      Not valid number!</span>
    <tt>value = {{characters}}</tt><br/>
    <tt>quantityForm.characters.$valid = {{quantityForm.characters.$valid}}</tt><br/>
    <tt>quantityForm.characters.$error = {{quantityForm.characters.$error}}</tt><br/>
    <tt>quantityForm.$valid = {{quantityForm.$valid}}</tt><br/>
    <tt>quantityForm.$error.required = {{!!quantityForm.$error.required}}</tt><br/>
    <button type="submit" class="btn">Get Rikered</button>
  </form>


  <h3>{{ ipsum | shuffle | truncate:characters | join }}</h3>
  {{ ipsum }}
</div>
