@import url(http://fonts.googleapis.com/css?family=Cantarell:700italic);
@import "compass/css3";

body {
  background: #000 url(/app/img/space-tile.jpg) repeat top center;
  color: #fff;
}
/* app css stylesheet */

.container {
  width: 80%;
  margin: 0 auto;
}

.buttons {
  button {
    // LESS button
    &:first-child {
      @include border-left-radius(18px);
      padding-left: 20px;
      padding-right: 30px;
      .icon-left {
        float: left;
        font-weight: bold;
      }
    }
    // MORE button
    &:last-child {
      @include border-right-radius(18px);
      padding-right: 20px;
      padding-left: 30px;
      .icon-right {
        float: right;
        font-weight: bold;
      }
    }
    // common button style
    padding-top: 15px;
    padding-bottom: 15px;
    width: 50%;
    float:left;
    margin: 0;
    border-top: 1px solid rgb(66, 66, 18);
    border-bottom: 1px solid rgb(25, 37, 9);
    border-right: 1px solid rgb(25, 37, 9);
    border-left: 1px solid rgb(25, 37, 9);
    // button glows
    // 1. top yellow highlight
    // 2. inside shading (inset)
    @include box-shadow(#424212 0 -1px 3px, rgba(0, 0, 0, 0.14) 0 -.4em 8px 5px inset);
    background-color: rgba(31, 34, 0, 0.94);
    // text
    font-size: 1.3em;
    line-height: 1.3em;
    color: rgb(143, 153, 25);
    @include text-shadow(#000 0 -1px 2px, rgb(66, 66, 18) 0 1px 1px);
    &:hover {
      background-color: rgba(44, 48, 1, 0.94);
      @include box-shadow(#424212 0 -1px 3px, rgba(0, 0, 0, 0.14) 0 -.4em 8px 5px inset);
      cursor: pointer;
    }
    &:active {
      padding-top: 16px;
      padding-bottom: 14px;
      background-color: rgba(44, 48, 1, 0.94);
      @include box-shadow(#424212 0 -1px 3px, rgba(0, 0, 0, 0.14) 0 .4em 8px 5px inset);
      cursor: pointer;
      border-top: 1px solid rgb(25, 37, 9);
      border-bottom: 1px solid rgb(66, 66, 18);
    }
    &:disabled {
      @include opacity(.4);
    }
  }
}


h1 {
  font-family: 'Cantarell', sans-serif;
  font-style: italic;
  letter-spacing: -0.1em;
  font-size: 4em;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  @include text-shadow(rgb(245, 245, 245) 0 0 1.5em, #E1D772 1px -1px .4em);
}

#copy {
  padding: 40px 0 20px;
  display: inline-block;
  cursor: crosshair;
  background: transparent;
  border: none;
  color: #fff;
  font-family: 'Helvetica', arial, serif;
  font-size: 1.4em;
  line-height: 1.6em;
}
